* {
    margin: 0;
    padding: 0;
}

body {
    height: 3000px;
    background: linear-gradient(to right, #00A47C, #E0FFF8  );
}

/*navbar*/

.container {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    width: 200px;
    cursor: pointer;
    margin: 30px 0px;
}


.nav1 {
    flex: 1;
    text-align: right;

}

.nav1 ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.nav1 ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    transition: color 0.3s;
    font-family: alegreya SC, alegreya, Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}


.line {
    border-left: 0.1px solid rgb(0, 0, 0, 0.5);
    height: 13px;
}

@media only screen and (max-width:700px) {

    .nav1 ul li a {
        font-size: 10px;
        transition: color 0.3s;
    }

    .logo {
        width: 70px;
        cursor: pointer;
        margin: 30px 0px;
    }


    .nav1 ul li {
        list-style: none;
        display: inline-block;
        margin-right: 0px;
    }

}

/*box*/

.box {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    position: relative;

}

.box p{
    font-size: 20px;
    font-family: alegreya;
    letter-spacing: 3px;
}

.box2{
    width: 40%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 250px;
    left: 28%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: bold;
    
}




@media only screen and (max-width:700px) {
    .heading2 {
        padding: 5px;
    }

    .heading {
        font-size: 20px;
    }

}



@media only screen and (max-width:700px) {

    .grid {
        grid-template-columns: 300px;
        row-gap: 20px;

    }
}